<p>Hey {{ name }},</p>

<p>A email verification attempt was made to your account at {{ date }}</p>

<p>Please click on this link to confirm your email {{ link }}</p>

<p>If it was not you, please alert us immediatly at support@monkeyempire.net</p>

<p>Monkey Empire Team</p>

<p>Be brave, Be a good ape</p>