<p>Hey {{ name }},</p>

<p>A login attempt was made to your account at {{ date }}</p>

<p>If it was not you, please alert us immediately at support@monkeyempire.net</p>

<p>Monkey Empire Team</p>

<p>Be brave, Be a good ape</p>